*{
    margin:0;
    pading:0;
    font-family: sans-serif;
}
.hero {
    position : relative;
    width : 100%;
    height: 100vh;
    background-color: #eff4fd;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.jk :hover{
    color: red;
}

.detel{
    margin-left: 8%;
    margin-top: 13%;
}
.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
span{
    color: orange;
}
.detel p{
    color: #555;
    line-height: 22px;
}
.logo {
    width: 120px;
}
.image {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0%;
    right: 1OOpx;
}
.image img{
    height: 100%;
    position: absolute;
    left: 140%;
    bottom: O;
    transform: translateX(-5O%);
    transition: bottom 1s, :left 1s;
}
.image:hover.Jenovic{
    left:14O%;
}
.contact{
    background-color: blue;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
}
.retour{
        background-color: #eff4fd;
        margin: auto;
        width: 500px;
}
.rouge {
    color: red;
    
}
.blue {
    color: lightseagreen;
}
.vert {
    color: limegreen;
}
.noir {
    color: black;
}
.fond_noir{
    text-align: center;
    background-color: black;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;

}
.fond_rouge{
    text-align: center;
    background-color: red;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
    
}
.fond_jaune{
    text-align: center;
    background-color: rgb(255, 208, 0);
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
    
    
}
.fond_bleu{
    text-align: center;
    background-color: blue;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
    
    
}
.fond_bleu:hover{
    background-color: blueviolet;
}
.fond_jaune:hover{
    background-color: blueviolet;
}
.fond_noir:hover{
    background-color: blueviolet;
}
.fond_rouge:hover{
    background-color: blueviolet;
}


    
    